header {
  background-color: #ff9100;
}
nav {
  background-color: rgb(246, 255, 146);
}
article {
  background-color: rgb(246, 255, 146);
}
aside {
  background-color: rgb(246, 255, 146);
}
footer {
  background-color: #ff9100;
}
